 .mainBody{
  height: 20px;
 }
 .listItems {
    display: flex;
  }
  .wrapper{
    width: 1300px;
    overflow-x: hidden;
  }
  
  .list {

    font-size: 5vw;
   
   
    display: flex;
    font-size: 5vw;
   
    -webkit-animation: loop 10s infinite linear;
    animation: loop 10s infinite linear;
  }
  
  .item {color: #000000;}
  
  @keyframes loop {
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }