

.cerocelImg:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: inline-block;
    background: #1E2452;
    opacity: 0.5;
    /* W3C */
}

.textHeading{
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
}

.imageText {
    top: 30%;
    left: 10%;
}

.imagePera {
    top: 45%;
    left: 10%;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    font-family: 'Heebo', sans-serif;
   

    color: #FFFFFF;

}

.imageButton {
    top: 70%;
    left: 10%;
}

.OurServiceImg {
    width: 560px;
    height: 528.86px;
}

.OurServiceRec {
    width: 1200px;
    height: 528.86px;
}

.serviceHeading {
    font-family: 'Heebo', sans-serif;
   
    font-weight: lighter;
    font-size: 64px;
    line-height: 100%;
    /* identical to box height, or 64px */


    /* Primary Blue */

    color: #1E2452;

}

.Ourservicepera {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    /* or 42px */

    text-align: justify;

    color: #444444;
}

.bannerText {
    font-weight: 800;
    font-size: 64px;
    line-height: 100%;
    /* identical to box height, or 84px */


    /* Primary Blue */

    color: #1E2452;
}
.progressMianWrapper{
    background-color: black;
    height: 15px;
    position: sticky;
    z-index: 1000;
    width: 100%;
}
.progressMainStyle{
    height: 15px;
    background-color: blue;
    position: sticky;
}
.cardLogo{
    width: 100px;
    height: 100px;
}
.marginslider{
    margin-top: 200px;
}
.toobal{
    position: sticky;
    margin-top: 220px;
    margin-bottom: 100px;
}
.slidePic{
    width: 500px;
    height: 300px;
}
/* 2nd banner start*/
.bannerFont{

    color: #1E2452;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
}
.slideImg{
    width: 415px;
    height: 415px;
}

/* 2nd banner end*/