.header{
    font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 100%;
/* identical to box height, or 64px */

text-transform: capitalize;

/* Primary Blue */

color: #1E2452;

}
.subHeading{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 100%;
/* or 20px */

text-align: center;
letter-spacing: 0.05em;

color: #444444;

}
.subname{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #000000;
}
.description{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* or 21px */


color: #555555;

}
