.leftLayOut {
    margin-top: 150px;

    width: 830px;
}

.rightLayOut {
    margin-top: 150px;
    height: 500px;
    width: 600px;
}

.courseImg {
    height: 450px;
    width: 830px
}

.courseName {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
    font-family: 'Heebo', sans-serif;
}

.courseDescription {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 160%;
    /* or 35px */

    text-align: justify;
    letter-spacing: 0.05em;
    font-family: 'Heebo', sans-serif;
    color: #000000;

}

.courseDespera {
    width: 764px;
    height: 334px;
    left: 165px;
    top: 782px;

    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    /* or 35px */

    text-align: justify;
    letter-spacing: 0.05em;

    color: #000000;

}