.OurCourse {
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    color: #1E2452;
}

.CourseArea {
    width: 1200px;
    height: 528.86px;
}

.CourseImgSize {
    width: 200px;
    height: 200px;
}

.carousel-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: inline-block;
    background: linear-gradient(#770d0d 0%, rgba(121, 73, 255, 0) 100%);
    /* W3C */
}

.courseCard {
    width: 425px;
    height: 390px;
}

.courseCardImg {
    width: 425px;
}

.courseCardText {

    font-weight: 700;
    font-size: 24px;
    font-family: 'Heebo', sans-serif;
    color: #1E2452;
}

:root {
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-primary: white;
    --color-secondary: #1E2452;;
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 1rem;
  }
  
  * {
    box-sizing: border-box;
  }
  

  .multi-button {
    display: flex;
    width: 100%;
    box-shadow: var(--shadow) 4px 4px;
  }
  
  .multi-button button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
      calc(var(--space) / 1.125)
      var(--space)
      var(--space);
    border: var(--border-size) solid #1E2452;;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-transform: lowercase;
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
  }
  
  .multi-button button + button {
    border-left: var(--border-size) solid #1E2452;;
    margin-left: calc(var(--border-size) * -1);
  }
  
  .multi-button button:hover,
  .multi-button button:focus {
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
  }
  
  .multi-button button:focus {
    outline: var(--border-size) dashed var(--color-primary);
    outline-offset: calc(var(--border-size) * -2);
  }
  
  .multi-button:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
  }
  
  .multi-button button:active {
    transform: translateY(var(--border-size));
  }
  .capsul{
    background-color: #1E2452;
    color: white;
  }
