.leftLayOut {
    margin-top: 30px;

    width: 740px;
}

.rightLayOut {
    margin-top: 30px;
    height: 500px;
    width: 590px;
}

.courseImg {
    height: 450px;
    width: 830px
}

.courseName {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
    font-family: 'Heebo', sans-serif;
}

.courseDescription {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;


    /* or 35px */

    text-align: justify;
    letter-spacing: 0.05em;
    font-family: 'Heebo', sans-serif;
    color: #1E2452;

}

.courseDespera {
    width: 740px;
    height: 340px;


    font-family: 'Heebo', sans-serif;
    font-weight: 400;

    font-size: 22px;
    line-height: 160%;
    /* or 35px */

    text-align: justify;
    letter-spacing: 0.05em;

    color: #000000;

}

.tickmark {
    width: 20px;
    height: 20px;

    transition-duration: .6s;

}

.OutlineTittle {
    font-size: 22px;
    font-family: 'Heebo', sans-serif;
    color: #1E2452;
    font-weight: 600;
}

.OutlilnePera {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    /* or 35px */

    letter-spacing: 0.05em;

    color: #444444;

}

.logo {
    width: 50px;
    height: 50px;
}

.logoText {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */


    color: #000000;

}

.multiButtonSize {
    font-family: 'Heebo', sans-serif;
    width: 585px;
}

.formPera {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    /* or 16px */


    color: #999999;
}

.formName {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #666666;

}